@model LittleLMS.LittleLMSModels.ReceiverType

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Är du säker på att du vill ta bort denna?</h3>
<h5>Dokument med denna mottagartyp tas också bort!</h5><br />

<div>
    <h4>ReceiverType</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Ta bort" class="btn btn-default" /> |
            @Html.ActionLink("Tillbaka till listan", "Index")
        </div>
    }
</div>
