@model Microsoft.AspNet.Identity.EntityFramework.IdentityRole

@{
    ViewBag.Title = "Ta bort";
}

<h2>Ta bort rollen.</h2>

<h3>Är du säker på att du vill ta bort denna rollen? </h3>
@*<p>Deleting this Role will remove all users from this role. It will not delete the users.</p>*@
<p>Att ta bort denna rollen tar bort användarna från rollen. Borttagningen kommer dock inte att ta bort användarna till rollen.</p>
<div>
    <h4>Roll.</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @*@Html.DisplayNameFor(model => model.Name)*@
            @Html.Label("Rollens namn")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Ta bort" class="btn btn-default" /> |
            @Html.ActionLink("Tillbaka till listan", "Index")
        </div>
    }
</div>
